@import '../../../../scss/grid';
@import '../../../../scss/vars';

.example-full-width {
  width: 100%;
}

.example-form {
  width: 100%;
  margin-top: $margin;
}

.mat-form-field {
  text-align: center;
  font-size: 1.2em;
}

.sticky {  // Sticky Search Bar
  top: $fixed-margin-small;
  position: -webkit-sticky;
  position: sticky;
  z-index: 500;  // Sticky should have LESS z-index than Collapsed Nav Bar
  width: 100%;
  background: $bg-color;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width:992px) {
  .sticky {
    margin-top: $fixed-margin-large;
  }
}
