@import './vars';
@import './hover';

.example-card {
  width: 290px;
  margin: 15px auto;
}

.love {
  color:$heart-color;
}

.love-like {
  color:red;
}

.love, .love-like:hover {
  @include hover();
}
